@model CapMobileWebApp.DAL.Model.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelPhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelPhoneNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoIdentityNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoIdentityNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PanCardNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PanCardNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mstate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mstate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pincode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pincode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photoid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photoid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mphoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mphoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idtype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idtype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BranchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BranchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csrapprove)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csrapprove)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prpoposedloanamount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prpoposedloanamount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagerRemark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagerRemark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csrremark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csrremark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mangerdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mangerdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csrdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csrdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanTypeid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanTypeid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanCycleNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanCycleNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MartialStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MartialStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpouseDob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpouseDob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineeAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeRelation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineeRelation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantFather)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantFather)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyRelation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyRelation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rationcardno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rationcardno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VoterIdcardno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VoterIdcardno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uidno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uidno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoanPurpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoanPurpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idproof1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idproof1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idproof2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idproof2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OriginatorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OriginatorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfficerChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfficerChangeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerSign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerSign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyDetails2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyDetails2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyRelation2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyRelation2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyDetails3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyDetails3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyRelation3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyRelation3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyDetails4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyDetails4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FamilyRelation4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FamilyRelation4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TebusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TebusinessActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VebusinessActivity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VebusinessActivity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityConfirmation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityConfirmation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerificationOfDocs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificationOfDocs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DvecustomerApproval)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DvecustomerApproval)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DvecustomerApprovalDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DvecustomerApprovalDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExActiveCustId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExActiveCustId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExActiveLoanAc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExActiveLoanAc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReLoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsExistingLoanClose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsExistingLoanClose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsTopupLoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsTopupLoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAadharAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAadharAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCurrentAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCurrentAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerTaluka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerTaluka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerVillage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerVillage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLoanApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLoanApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDrivingLicNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerDrivingLicNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEducation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerEducation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerLoanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerLoanType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeAadharCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineeAadharCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineePanCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineePanCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomineeMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomineeMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorGender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorGender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorMobileNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorMobileNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorDob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorDob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GuarantorSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GuarantorSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
